# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
# Output assets
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Target binaries
dijkstra_omp
dijkstra_seq2

# Documentation (for now)
doc/

# Test output
tests/*.cmp
